.imgavatar{
    border-radius: 100%;
}

.twitter{
    margin: 0 10px;
}

.github{
    margin: 0 10px;
}

.linkedin{
    margin: 0 10px;
}

header{
    text-align: center;
}

.sobre{
    text-align: center;
}